body {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.9;
    background-color: #fffaf9;
    color: #5a3d2e;
}

h1, h2, h3 {
    color: #5a3d2e;
}


.btn {
    border: none;
    border-radius: 6px;
}

p {
    margin-bottom: 0.5rem;
    line-height: 1.4;
}

#room-price{
    color:#5a3d2e;
}

.icon{
    color: #ffffff;
    background-color: #FFDAD5;
}

.room-card{
    background-color: #FFDAD5;
}



